<div>
  <p>
    <strong><%= article.title %></strong>
  </p>

  <hr id="row">

  <p id="article-description">
    <em><%= article.description %></em>
  </p>

  <p id="article-author">
    <strong><%= article.author %></strong>
  </p>

</div>
