<p style="color: green"><%= notice %></p>

<input type="text" placeholder="Search Article" id="search-bar">

<div id="articles">
  <% @articles.each do |article| %>
    <%= link_to article, id: "article-container", class: "articles-container" do %>
      <%= render article %>
    <% end %>
  <% end %>
</div>

<%= link_to "New article", new_article_path, id: "new-article" %>
