<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="sign-in-container">
    <h2>Forgot your password?</h2>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail", class: "form-inputs" %>
    </div>
    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: "form-button" %>
    </div>
  </div>
<% end %>
