#search-container {
  display: flex;
  justify-content: center;
  height: 3rem;
}

#search-bar {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border-radius: 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: unset;
  border-bottom: 1px solid var(--color-2);
}

#search-button {
  background-color: var(--color-2);
  border-radius: 25px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 4rem;
  cursor: pointer;
  transition: 0.5s;
}

#search-button:hover {
  background-color: #384C60;
}

#search-button img {
  height: 100%;
  padding: 0.5rem;
  filter: invert(1);
}

#articles {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: 1200px;
}

#article-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
  width: 100%;
  text-decoration: none;
  background-color: #dee0e4;
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.15);
}

#article-container div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#new-article {
  background-color: #0560FC;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: 0.5s;
}

#new-article:hover {
  background-color: #0356E5;
}

#row {
  color: lightgray;
}

#article-title {
  text-decoration: none;
}

#article-description {
  color: darkslategrey;
}

#article-author {
  text-align: right;
}

@media (min-width: 768px) {
  #search-bar {
    width: 400px;
  }

  #articles {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  #articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}