#footer-container {
  background-color: #384C60;
  color: #BDC4CA;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

#author {
  color: white;
}