#header-container {
  background-color: white;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.15);
  padding: 0 1rem;
  overflow: hidden;
}

#logo-and-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#navigation-container ul {
  display: flex;
  position: absolute;
  bottom: 5rem;
  left: 0;
  align-items: center;
  list-style: none;
  height: 4rem;
}

#navigation-container ul li {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 0.75rem;
  transition: 0.5s;
  border-bottom: 3px solid white;
  cursor: pointer;
  text-decoration: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#navigation-container ul li:nth-child(1) {
  background-color: white;
  position: absolute;
  bottom: 1rem;
  min-width: 100px;
  box-shadow: 0px 0px 10px black;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#navigation-container ul li:nth-child(2) {
  background-color: white;
  position: absolute;
  bottom: 5.5rem;
  min-width: 100px;
  box-shadow: 0px 0px 10px black;
}

.nav-link {
  text-decoration: none;
  color: grey;
}

#navigation-container ul li:hover {
  border-bottom: 3px solid #0560FC;
  color: #0560FC;
}

#desktop-sign-in-sign-up {
  display: flex;
  gap: 0.75rem;
}

#sign-in {
  display: none;
  background-color: #EEEEEE;
  color: black;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.5s;
  min-width: fit-content;
  text-decoration: none;
}

#sign-in:hover {
  background-color: #E1E1E1;
}

#sign-up,
#sign-out {
  background-color: #0560FC;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  min-width: fit-content;
  text-decoration: none;
}

#sign-up,
#sign-out:hover {
  background-color: #0356E5;
}

@media (min-width: 768px) {
  #navigation-container ul li:nth-child(1) {
    position: unset;
    box-shadow: unset;
    border-radius: unset;
  }
  
  #navigation-container ul li:nth-child(2) {
    position: unset;
    box-shadow: unset;
    border-radius: unset;
  }

  #sign-in {
    display: flex;
  }

  #desktop-sign-in-sign-up {
    display: flex;
  }

  #navigation-container ul {
    display: flex;
    position: unset;
  }
}