.sign-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  padding: 2rem;
  height: fit-content;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
  width: 500px;
}

#sign-in-container h2 {
  color: var(--color-2);
}

.form-inputs {
  outline: none;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--color-2);
}

.form-button {
  background-color: var(--color-2);
  color: white;
  width: 100%;
  border: none;
  padding: 1rem;
}